table, th, td {
    border:1px solid black;
  }
a {
    color:red;
}
a:hover {
    background-color: coral;
}
p.disclaimer {
    background-color: crimson;
    color:cyan;
}
div.link {
    color:green;
    background-color: yellow;
}
div.table{
    background-color: lightblue;
}
div#ratings {
    color:greenyellow;
}
div.students {
    background-color: palevioletred;
}
span.box {
    font-size: 100px;
}

span#animal {
    color: blue;
}

span.header {
    background-color: orange;
}

span.friends {
    background-color:pink;
    font-size: 50px;
}

div.center {
    text-align: center;
}

div.italic {
    font-style: italic;
}


